@using static ncaa_matchday.Models.HomeModels.HomeList
@model List<League>

@{
    ViewData["Title"] = "NCAA Matchday";
    var sports = Model.Select(x => x.Sport).Distinct();
}

<table align="center">
    @foreach (string? sport in sports)
    {
        <tr>
            <th>
                @sport
            </th>
        </tr>

        IEnumerable<League>? sportsLeagues = Model.Where(x => x.Sport == sport);
        if (!sportsLeagues.Where(x => x.Sex == null).Any())
        {
            foreach (string? sex in sportsLeagues.Select(x => x.Sex).Distinct())
            {
                <tr>
                    <td style="text-indent:12.5px">
                        <b>@sex</b>
                    </td>
                </tr>

                foreach (League? league in sportsLeagues.Where(x => x.Sex == sex))
                {
                    <tr>
                        <td style="text-indent:25px">
                            <a asp-controller="League" asp-action="Matches" asp-route-leagueLink="@league.Link" style="text-decoration:none;color:inherit">
                                @league.Division
                            </a>
                        </td>
                    </tr>
                }
            }
        }
    }
</table>